.chat--mainContainer {
  width: 500px;
  max-width: 90vw;
  height: 780px;
  max-height: calc(100vh - 70px);
  border-radius: 20px;
  padding: 20px;
  background-color: #e8dfc8;
  overflow: hidden;
}

.chat--header {
  display: flex;
  justify-content: space-between;
}

.messages {
  width: 100%;
  height: calc(100% - 120px);
  overflow-y: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px 15px;
  border: 2px solid #333333;
  overflow-x: hidden;
}

.msg {
  width: 400px;
  max-width: 90%;
  border-radius: 10px;
  margin-bottom: 6px;
  padding: 7px 10px;
  display: flex;
}

.msg.sent {
  background-color: #54b3d6;
  float: right;
}

.msg.received {
  background-color: #fff;
}

.msg--user {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.msg--user.sent {
  margin-left: 10%;
}

.msg--user.received {
  margin-left: 0px;
}

.msg--img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 7px;
}

.msg--text {
  font-size: 1.1rem;
  font-weight: normal;
  font-family: serif;
  margin-top: 7px;
}
